<h1>All Blood Tests</h1>
<table class="main-content">
  <thead>
    <tr>
      <% headers.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @blood_tests.each do |blood_test| %>
    <tr>
      <td><%= blood_test.taken_on.strftime("%d %b %Y") %></td>
      <% methods.each do |method| %>
        <td <%= class_for(blood_test, method) %>>
          <%= value_for(blood_test, method) %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
