@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

body {
  font-family: 'helvetica', sans-serif;
  background-color: #eee;
  text-align: center;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  text-decoration:none;
  color: $link-color;
  
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-weight: bold;
  font-size: 2em;
  margin: 1em;
}

body > header {
  margin-top: 1em;
}

.main-content {
  background-color: #fefefe;
  text-align: center;
  @include border-radius(5px);
  @include box-shadow(0, 0, 2px, rgba(51, 51, 51, 0.25));
  margin: 0 auto;
  padding: 1em 1em 1.5em;
}

.bar-chart {
  height: 1em;
  width: 300px;
  display: inline-block;
  position: relative;
  margin-left: 4em;
}

.bar-chart div {
  height: 100%;
  width: 0;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
}
