// Place all the styles related to the BloodTests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';
@import 'mixins';

form.main-content {
  width: 23em;
  margin: 1em auto;
  padding: 2em 0 1px;

  input {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;

    &[type=number], &[type=text], &[type=date] {
      border: 1px solid rgba(14, 163, 208, 0.35);
      font-size: 1em;
      @include border-radius(3px);
      padding: 0.2em;

      &:focus {
        outline: none;
        border: 1px solid rgb(14, 163, 208);
      }
    }

    &[type=submit] {
      font-size: 1em;
      margin: 2em auto;
      display: block;
      border: none;
      background-color: $submit-color;
      color: #fff;
      width: auto;
      padding: 0.5em 2em;
      @include border-radius(5px);

      &:hover {
        cursor: pointer;
        background-color: lighten($submit-color, 5%);
      }
    }
  }

  label {
    width: 30%;
    text-align: right;
    display: inline-block;
  }
}

table {
  border-collapse: collapse;
  text-align: center;
  display: inline-block;

  thead tr:first-child th {
    padding-bottom: 0.25em;
  }

  thead tr:last-child th {
    padding-top: 0;
    font-size: 0.9em;
  }

  td, th {
    padding: .5em;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    @include border-radius(7px);
  }
  
  th {
    font-weight: bold;
  }

  td.danger {
    background-color: rgba(176, 0, 0, 0.75);
    color: #fff;
  }

  td.no-danger {
    background-color: rgba(0, 176, 0, 0.74);
    color: #fff;
  }
}

.ui-tabs .ui-tabs-nav li a {
  color: darken($link-color, 5%);
  outline: none;
}

#tabs .ui-tabs-nav {
    padding: 0em;
    background: transparent;
    border-width: 0px;
}

#tabs .ui-tabs-nav li {
    position: static;
    margin: 0px;
    border-bottom: 1px solid darken($link-color, 5%);
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

#tabs .ui-tabs-nav li:first-child {
    -moz-border-radius: 6px 0px 0px 6px;
    -webkit-border-radius: 6px 0px 0px 6px;
    border-radius: 6px 0px 0px 6px;
}

#tabs .ui-tabs-nav li:last-child {
    -moz-border-radius: 0px 6px 6px 0px;
    -webkit-border-radius: 0px 6px 6px 0px;
    border-radius: 0px 6px 6px 0px;
}
.ui-tabs .ui-tabs-nav {
  margin: 20px 100px;
}

.blood-test-report {
  width: 40em;
  
  section {
    width: 100%;
    text-align: left;
    
    header {
      text-align: left;
      padding: 0.5em 1em 1em;
      
      h1 {
        margin: 0;
        font-size: 1.5em;
      }
    }
    
    &.danger header {
      border-bottom: 4px solid $danger-color;
    }
    
    &.no-danger header {
      border-bottom: 4px solid $no-danger-color;
    }
    
    p {
      width: 30%;
      display: inline-block;
      text-align: center;
    }
    
    ul {
      padding: 1em;
      
      li {
        font-size: 1.1em;
        padding: 0.5em;
      }
    }

    .text {
      display: inline-block;
      width: 150px;
    }
  }
}
